/* Checkout.css */

.checkout-container{
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    padding-top: 100px;
    text-align: center;
    justify-content: center;
    padding-bottom: 100px;
}

.checkout-body{
  max-width: 600px;
  color: #000000;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff; /* Adjust to match your site's background color */
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.checkout h1 {
  font-size: 2em;
  margin-bottom: 20px;
  color: #333; /* Adjust to match your site's primary text color */
}

.order-summary {
  margin-bottom: 20px;
}

.order-item {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
  border-bottom: 1px solid #eee;
  text-color: #ffffff;
}

.order-item span {
  font-size: 1em;
  color: #555; /* Adjust to match your site's secondary text color */
}

.order-total {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
  font-size: 1.2em;
  font-weight: bold;
  color: #000; /* Adjust to match your site's primary text color */
}
