.header-container {
    text-align: center;
    margin: 10px 0;
  }
  
  .header-title {
    font-family: "Times New Roman", serif;
    font-size: 3rem;
    font-weight: bold;
    color: #000;
    text-transform: capitalize;
  }

.template-showcase {
    width: 100%;
    overflow: hidden;
    padding: 2rem;
    box-sizing: border-box; /* Ensure padding is included in the width */
}

/* Screen Sections */
.screen {
    display: flex;
    flex-wrap:nowrap; /* Allow wrapping to create blocks */
    height: 60vh; /* Height of two screens */
    width: 100%;
    gap: 0rem; /* Space around the blocks */
    box-sizing: border-box; /* Ensure padding is included in the width */
}

/* Left Section */
.screen-left {
    flex: 1 1 50%; /* Allow the section to take up 48% of the width */
    position: relative;
    z-index: -1; /* Ensure the image is behind other elements */
    padding-left: 1.5cm;
    padding-right: 1.5cm;    box-sizing: border-box; /* Ensure padding is included in the width */
}

/* Image */
.screen-image {
    width: 100%;
    height: 100%;
    object-fit:cover;
    position: absolute;
    top: 0;
    left: 0;
    /* z-index: -1; Ensure the image is behind other elements */
}

.screen-image2 {
    width: 122%; /* Increase the width to 120% */
    height: 140.5%; /* Increase the height to 120% */
    object-fit:cover;
    position: relative;
    bottom: 0;
    left: -11.2%; /* Move the image to the left */
    /* z-index: -1; Ensure the image is behind other elements */
}


/* Right Section */
.screen-right {
    flex: 1 1 50%; /* Allow the section to take up 48% of the width */
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-sizing: border-box; /* Ensure padding is included in the width */
}

.light-bg {
    background-color: #eef4f7;
}

.dark-bg {
    background-color: black;
    color: white;
}

/* Buttons */
.view-package-btn {
    margin-top: 20px;
    padding: 10px 50px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-weight: bold;
    width: 190px; /* Set a fixed width for the buttons */
    text-align: center; /* Center the text inside the button */
}

.view-package-btn.light-btn {
    background-color: white;
    color: black;
}

.view-package-btn:not(.light-btn) {
    background-color: black;
    color: white;
}